@font-face {
	font-family: "Submariner";
	font-display: swap;
	src: url("../fonts/Submariner-Heavy.woff2") format("woff2"), url("../fonts/Submariner-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Eigerdals";
	font-display: swap;
	src: url("../fonts/Eigerdals.woff2") format("woff2"), url("../fonts/Eigerdals.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Adineue";
	font-display: swap;
	src: url("../fonts/adineueprokz_black.woff2") format("woff2"), url("../fonts/adineueprokz_black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
