.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: rem(185);
	height: rem(63);

	background-image: url("@img/icons/btn-1.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;
	@media (max-width: em(630)) {
		width: rem(160);
		height: rem(50);
	}

	&:active {
		transform: translateY(3px);
	}

	p {
		font-size: 29px;
		line-height: math.div(36, 29);
		color: #ffffff;
		-webkit-text-stroke: 2px #7f2c24;
		text-shadow: 0px 1px 0px #792617, 0px 3px 1px rgba(0, 0, 0, 0.25);
		text-transform: capitalize;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: url("@img/other/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transition: all 0.3s ease 0s;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(20);
		left: 50%;
		width: rem(266);
		display: flex;
		justify-content: center;

		transform: translateX(-50%);
		z-index: 5;
		&::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 3px;
			z-index: 2;
			width: rem(260);
			height: rem(110);
			background-image: linear-gradient(180deg, #854cc5 0%, #984df2 39.9%, #7515db 100%);
			border-radius: 30px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: rem(266);
			height: rem(116);

			background-image: linear-gradient(
				180deg,
				#e0bbff 0%,
				#d5a2fe 23.75%,
				#cb8cfc 47.19%,
				#bc70f6 70.1%,
				#7f33c1 94.28%
			);
			border-radius: 30px;
		}
	}

	// .preloader__button

	&__button {
		position: relative;
		top: 10px;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding-block: rem(25) rem(90);
	padding-inline: rem(50);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		@include adaptiveValue("font-size", 32, 26, 500, 320, 1);
		line-height: math.div(49, 32);

		letter-spacing: 0.085em;
		text-transform: uppercase;
		text-align: center;

		color: #ffffff;
		padding-bottom: rem(40);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	@include adaptiveValue("font-size", 16, 14, 800, 550, 1);
	line-height: math.div(18, 16);

	color: #ffffff;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	position: relative;
	@include adaptiveValue("width", 204, 140, 800, 550, 1);
	height: rem(36);
	background-image: linear-gradient(180deg, #000007 0%, #251244 100%);
	box-shadow: 0px 4px 4px rgba(29, 29, 31, 0.25), inset 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 35px 10px 0px;
	border: 1px solid #9e00ff;
}

.text-game {
	p {
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

//========================================================================================================================================================
