//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		z-index: 3;
		display: grid;
		grid-template-rows: 35px 1fr;
		row-gap: rem(15);

		min-height: 100vh;
		padding-top: 10px;
		@include adaptiveValue("padding-inline", 60, 10, 800, 550, 1);
	}

	&__privacy {
		position: absolute;
		top: 12px;
		left: 12px;
		z-index: 5;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		p {
			background: linear-gradient(180deg, #ffff01 26.47%, #ffc822 79.41%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px #df2603;
			filter: drop-shadow(0px 3px 0px #750101);

			font-family: "Eigerdals";
			@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
			line-height: math.div(40, 36);
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		@include adaptiveValue("column-gap", 30, 10, 800, 550, 1);
		@media (min-height: em(500)) {
			align-items: center;
		}
	}

	&__card-box {
	}

	&__card {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 15px;
		@include adaptiveValue("max-width", 208, 160, 800, 550, 1);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		img {
			width: 100%;
		}
		._disabled & {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		overflow: hidden;
		border-radius: 30px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		._disabled & {
			&::before {
				background-color: rgba(0, 0, 0, 0.5);
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;

				background-image: url("@img/icons/lock.svg");
				background-position: center;
				background-size: 66px 87px;
				background-repeat: no-repeat;

				filter: drop-shadow(0 4px 4px rgba(34, 61, 64, 1));
			}
		}
	}

	&__button {
		position: absolute;
		bottom: rem(10);
		left: 50%;
		transform: translateX(-50%);
		&_1 {
			bottom: 0;
		}
		&:active {
			transform: translateY(3px) translateX(-50%);
		}
	}

	&__link {
		._disabled & {
			background-image: url("@img/icons/btn-2.png");
			p {
				text-shadow: 0px 2px 2px #142127;
				-webkit-text-stroke: 0 #7f2c24;
			}
		}
	}

	&__backgrounds {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__bg {
		position: absolute;
		img {
			width: 100%;
		}
		&_1 {
			top: -30px;
			left: -20px;
			@include adaptiveValue("max-width", 90, 60, 800, 550, 1);
			transform: rotate(82deg);
		}
		&_2 {
			top: -10px;
			right: -5px;
			@include adaptiveValue("max-width", 95, 65, 800, 550, 1);
			transform: rotate(35deg);
		}
		&_3 {
			bottom: -10px;
			left: -15px;
			@include adaptiveValue("max-width", 80, 50, 800, 550, 1);
			transform: rotate(135deg);
			filter: blur(5px);
		}
		&_4 {
			bottom: -15px;
			right: -20px;
			@include adaptiveValue("max-width", 100, 70, 800, 550, 1);
			filter: blur(4px);
			transform: rotate(-135deg);
		}
	}

	// .main__header

	&__header {
	}
}

.header {
	// .header__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("padding-inline", 20, 10, 800, 550, 1);

		background: linear-gradient(180deg, #ffff01 26.47%, #ffc822 79.41%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 2px #df2603;
		filter: drop-shadow(0px 3px 0px #750101);

		font-family: "Eigerdals";
		font-size: 36px;
		line-height: math.div(40, 36);
	}
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;
		min-height: 100%;
	}

	&__icon-box {
	}

	// .score-box__icon

	&__icon {
		position: absolute;
		top: -3px;
		left: -12px;
		@include adaptiveValue("width", 38, 32, 800, 550, 1);
		@include adaptiveValue("height", 38, 32, 800, 550, 1);
		img {
			width: 100%;
		}
	}

	// .score-box__score

	&__score-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__score {
	}

	&__title {
		position: absolute;
		top: -30px;
		left: 0;

		font-family: "Adineue";
		font-size: 20px;
		line-height: math.div(28, 20);

		color: #ffffff;

		text-shadow: 0px 2px 0px #3f52ff;
		&_win {
			right: 10px;
			left: auto;
		}
	}
}

.win-box {
	position: relative;

	opacity: 0;
	visibility: hidden;
	top: 20px;

	transition: all 0.5s ease 0s;
	&._visible {
		opacity: 1;
		visibility: visible;
		top: 0;
	}
}
.text {
	@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
	line-height: math.div(28, 20);

	color: #ffffff;

	&._txt-small {
		font-size: rem(8);
	}
	&._txt-middle {
		font-size: rem(12);
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		position: relative;
		min-height: 100vh;
	}

	&__button-home {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 60px;
		height: 30px;
		z-index: 10;

		background: url("@img/icons/arrow.svg") center / 7px 13px no-repeat,
			linear-gradient(180deg, #c276fb 0%, #9b3ae9 23.75%, #9f41ed 47.19%, #8c2adf 70.1%, #6110ab 100%);
		border: 0.7px solid #021923;
		border-radius: 3.5px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: transform 0.3s ease 0s;
		&:active {
			transform: translateY(2px);
		}
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		position: relative;
		display: flex;
		margin: 0 auto;
	}

	&__image {
		@include adaptiveValue("max-width", 270, 200, 800, 550, 1);
		transform: rotate(-15deg);
		animation: star 180s ease 0s infinite;
		img {
			width: 100%;
		}
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;

		row-gap: rem(20);
		z-index: 2;
		&_2 {
			grid-template-rows: 1fr rem(50);
		}
	}

	// .slot__controls

	&__controls {
	}

	&__cheeps-box {
	}

	&__background {
		position: absolute;
		top: 0px;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
	}
}

.controls-slot {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 80px;

	// .controls-slot__body

	&__body {
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: rem(20);
		width: 100%;

		padding-inline: rem(30);
		padding-bottom: rem(10);
		&_1 {
			position: absolute;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .controls-slot__bet-box

	&__bet-box {
	}

	&__button-box {
		display: flex;
		justify-content: center;
		&_1 {
			grid-row-start: 1;
			grid-column-start: span 2;
		}
	}

	// .controls-slot__button-spin

	&__button-spin {
		position: relative;
		width: rem(126);
		height: rem(61);
		background-image: linear-gradient(
			180deg,
			#a6fe50 0%,
			#a6ff51 20.31%,
			#41fd3d 50.52%,
			#15ef23 50.53%,
			#00be12 100%
		);

		box-shadow: 0px 8px 0px #026c2c, 0px 17px 4px rgba(16, 21, 37, 0.69), inset 0px 4px 4px rgba(16, 116, 0, 0.54),
			inset 0px 4px 0px #d1ff72;
		border-radius: 15px;
		transition: all 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			width: 9px;
			height: 18px;
			left: 18px;
			top: 8px;

			background: linear-gradient(106.2deg, #ffffff 14.88%, rgba(255, 255, 255, 0.57) 88.3%);
			box-shadow: -2px -7px 12px 2px #ffffff;
			transform: rotate(53.04deg);

			border-radius: 15px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 10px;
			height: 20px;
			bottom: 5px;
			right: 14px;
			border-radius: 15px;

			background: linear-gradient(106.2deg, #ffffff 14.88%, rgba(255, 255, 255, 0.57) 88.3%);
			box-shadow: -2px -7px 12px 2px #ffffff;
			filter: blur(7.5px);
			transform: rotate(53.04deg);
		}

		p {
			font-size: rem(36);
			line-height: math.div(40, 36);
			background-image: linear-gradient(180deg, #ffff01 26.47%, #ffc822 79.41%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1.5px #df2603;
			filter: drop-shadow(0px 3px 0px #750101);
		}

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: translateY(3px);
			box-shadow: 0px 5px 0px #026c2c, 0px 17px 4px rgba(16, 21, 37, 0.69), inset 0px 4px 4px rgba(16, 116, 0, 0.54),
				inset 0px 4px 0px #d1ff72;
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

//========================================================================================================================================================
#slot2 {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#reels2 {
	position: relative;
	display: flex;
	justify-content: center;
	column-gap: 10px;
	width: 55vw;
	height: calc((3 / 5) * 100vw);
	max-height: 32vw;
	max-width: calc(2.2 * (90vh - 50px));
	padding-inline: 10px;
	margin-top: 5px;

	background-color: #210827;
	border-radius: 25px;
	border: 1px solid rgba(255, 254, 66, 1);
}

.reel2 {
	position: relative;
	overflow: hidden;
	width: 33%;
	height: 100%;

	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 10px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot2.inverted .reel {
	transform: scaleY(-1);
}

#slot2.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//========================================================================================================================================================
#slot1 {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#reels1 {
	position: relative;
	display: flex;
	justify-content: center;
	column-gap: 10px;
	width: 56vw;
	height: calc((3 / 3) * 100vw);
	max-height: 18vw;
	max-width: calc(2.2 * (90vh - 50px));
}

.reel1 {
	position: relative;
	overflow: hidden;
	z-index: 5;
	width: 33%;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		z-index: 2;
		background: radial-gradient(50% 50% at 50% 50%, #54007b 0%, #1f0030 100%);
		border-radius: 13px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: 1;
		background-image: linear-gradient(
			180.66deg,
			#fefe26 27.01%,
			#ffff68 39.95%,
			#feffed 50.36%,
			#fe9a28 59.17%,
			#fee41d 67.98%
		);
		border-radius: 13px;
	}

	.icons {
		position: relative;
		z-index: 3;
		text-align: center;
		padding-top: rem(10);
		padding-inline: 5px;

		img {
			position: relative;
			width: calc(100% - 5px);
			margin: -3px 0 20px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot1.inverted .reel {
	transform: scaleY(-1);
}

#slot1.inverted .reel > .icons > img {
	transform: scaleY(-1);
}
//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff5900;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff6f00;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #ddf12a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}

@keyframes star {
	0% {
		transform: rotate(-15deg);
	}
	70% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}
